# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.env
app/hitmaster.db
app/spotify.properties
*.db
app/src/main/resources/userImage.png
TODO
app/build.gradle.kts
app/src/main/java/hitmaster/models/EnvValues.java
